################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/user_onboarding/OnboardUser/.vs/OnboardUser
